@page
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body>
   
   <div class="row">
       <div class="col-md-4">
           <section>
               <form id="account" method="post">
                    <h1>@ViewData["Title"]</h1>
                   <h2>@Localizer["AlreadyClient"]</h2>
                   <hr/>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="mb-3">
                        <div class="input-container">
                            <img id="login-icon" src="~/Assets/Login-Icon.jpg" />
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <div class="input-container">
                            <img id="password-icon" src="~/Assets/Password-Icon.png" />
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                   <div class="checkbox mb-3">
                       <label asp-for="Input.RememberMe" class="form-label">
                           <input class="form-check-input" asp-for="Input.RememberMe" />
                           @Html.DisplayNameFor(m => m.Input.RememberMe)
                       </label>
                   </div>
                   <div>
                       <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["LogIn"]</button>
                   </div>
                   
                   <div>
                       <p>
                           <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["ForgotPass"]</a>
                       </p>
                   </div>
                   @*
                       <p>
                           <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                       </p>
                       <p>
                           <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                       </p>
                   </div>
                   *@
               </form>
           </section>
       </div>
       <div class="col-md-6 col-md-offset-2">
          <h1>@Localizer["RegisterNow"]</h1>
          <h2>@Localizer["Benefits"]</h2>
          <ul>
                <li>@Localizer["Exclusive"]</li>
                <li>@Localizer["EarlyAccess"]</li>
                <li>@Localizer["Personalized"]</li>
                <li>@Localizer["Booking"]</li>
                <li>@Localizer["FreeTravel"]</li>
                <li>@Localizer["Discount"]</li>
            </ul>
            <form id="registerProvider" asp-area="Identity" asp-page="/Account/Register">
                <button id="register-button">@Localizer["Register"]</button>
            </form>
       </div>
   </div>

   @section Scripts {
       <partial name="_ValidationScriptsPartial" />
   }
</body>
